
/*---------------   icon  ---------------------*/
.so-icon-QR_code {
  background-image: url('../assets/icon/icon-QR_code.png');
}

.so-icon-arrow_right {
  background-image: url('../assets/icon/icon-arrow_right.png');
}