// 主色调
$main-bg_primary = #fff;
$main-color_primary = #ededed;
// header颜色
$main-head-color = #000;
$main-head-bg = #ededed;
// tab颜色
$main-tab-color = #000;
$main-tab-bg = #f7f7f7;
$main-tab-border_color = #d6d6d6;

//me页面
$me-container-color = #ededed;

//discover页面
$discover-container-color = #ededed;

//contacts页面
$contacts-container-bg = #ededed;

/*-----------------------------组件-----------------------------*/
//so-profile
$so-profile-bg = #fff;
$so-profile-name-color = #1b1b1b;
$so-profile-id-color = #676767;

//so-cell
$so-cell-bg = #fff;
$so-cell-name-color = #0d0d0d;